<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-3"><h1>Address</h1></div>
        <div class="col-sm-3"><h1>company Information</h1></div>
        <div class="col-sm-3"><h1>Social Network</h1></div>
        <div class="col-sm-3"> <h1>Contact Details</h1> </div>
    </div>
    
</body>
</html>