<p>news works!</p>
<div>
    date:{{today}}
</div>
<div>
    date in pipe:{{today | date}}
</div>
<div>
    date in short attribute:{{today | date:'short'}}
</div>
<div>
    Uppercase:{{names | uppercase}}
</div>
<div>
    lowercase: {{names | lowercase}}
</div>
<div>
    initcap case:{{names | titlecase}}
</div>

<div>
    original case:{{names}}
</div>
<div>
    salary:{{salary}}
</div>
<div>
    salary in dollars:{{salary | currency}}
</div>
<div>
    salary in INR:{{salary | currency:'INR'}}
</div>
<div>
    rateof interest:{{rateOfinterest | percent}}
</div>
<div>
    value is:{{value}}
</div>
<div>
    square of value:{{value | square}}
</div>








